@font-face {
    font-family: 'monobold';
    src: url('StinCo_MonoBold.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: linear-gradient(110deg, #190505 0%, #650304 100%);
    color: #feeeed;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    background-color: #190505;
    color: #d71515;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    font-family: 'monobold';
}

header span{
    margin-left: 100px;
}

header nav{
    margin-right: 100px;
}

a{
    color: #d71515;
    text-decoration: none;
    font-weight: bold;
    margin: 10px;
    transition: all 0.2s;
}

a:hover{
    color:#a41111;
}

h2{
    font-family: 'monobold';
    text-shadow: rgba(0,0,0,.5) 3px 3px 7px;
}

.RA-banner{
    height: 400px;
    background-image: url('images/CCD_Proto1.png');
    background-size: cover;
    background-position-y: bottom;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    height: 195 px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 250px;
}

.about-text{
    color: red;
    text-align: center;
    text-shadow: rgba(0,0,0,.75) 3px 3px 7px;
}

.gallery{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 60px 250px;
}

.galleryitem{
    box-shadow: 3px 3px 7px rgba(0,0,0,.75);
    transition: all 0.5s;
}

.galleryitem:hover{
    transform: translateY(-7px);
}

footer{
    height: 175px;
    background-color: #190505;
    color: #d71515;
    padding: 50px 100px;
}

ul{
    list-style: none;
    margin-top: 10px;
}

@media (max-width: 1000px){
    .about{
        padding: 50px 0px;
    }
    .gallery{
        padding: 50px 0px;
    }
}
