body 
{
    background-color: black;
    margin: 0px;
    display: block;
}

t1
{
    color:red; 
    font-family: mono_bold;
    font-size: 70px;
    margin-left: 10px;
}

h1{
    color: Red;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 20px;
    font-family: mono_bold;
}

.border-b
{
    border-right: 10px solid red;
    border-left: 10px solid red;
    border-top: 10px solid red;
    background: black;
}

.border-a
{
    border: 10px solid red;
    background: black;
}

@font-face { font-family: mono_bold; src: url('monoBold.ttf'); } 
