body {
	background-color: black;
}

h1{
color: Red;
margin-left: 40px;
font-size: 30px;
font-family: mono_bold;
}

@font-face { font-family: mono_bold; font-weight: normal; font-style: normal; src: url('monoBold.ttf')}